# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database file
*.db

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Log files
*.log

# Local development settings
instance/